<h1>
          Tiny App 
<h1>

<% if(userObject){ %>
   
<h3>

      <form method="POST" action="/logout">
          <h5> Logged in as <%= userObject.email %>!</h4>
          <input type = "submit" value = "logout" class="btn btn-primary">
     </form>

</h3>

 <% } else{ %>  
                
<h5>
     
     <a href = "/register">Register</a> | <a href = "/login">Login</a>

</h5>

<% } %>