<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <header>

        <% include ./partials/_header %>

    </header>

    <h2></h2>

    <ul>
       <li><%= shortURL %> : <%= longURL %></li> 
       <form method="POST" action="/urls/<%= shortURL%>">
        <input type = "submit" value = "update">
        <input type = "text" name="newURL">

            </li>
    </form>    
    </ul>


    <a href="#">New Link Created</a>

</body>
</html>